
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;  
  font-family: Phetsarath;
  font-weight: 100;
  font-display: swap;
}
  

 * {
  box-sizing: border-box;
}

.scroll-text{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.scroll-text > span {
  display: inline-block;
  transform: translateX(90%);
  animation: scroll-left  10s linear 2s infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(90%);
  }
  50%{
    transform: translateX(0%);
  } 
  100% {
    transform: translateX(-100%);
  }
} 


@font-face {
  font-family: 'Phetsarath';
  src: url('/public/fonts/PhetsarathBold.woff2') format('woff2');
  font-display: swap;
}

